body{
    background-color:rgb(225, 225, 175);
    color: #3b6a87;
    font-family: 'Raleway', sans-serif;
    
/* Esto es un comentario */
}

h3{
color:#3c1239;
font-size: 20px;
}

h1{
color: #4e4015;

}

img{
border-radius: 20px;
margin-left: 220px;
padding: 10px;
box-shadow: 10px 10px 10px rgb(73, 71, 71);
}

.img2{
margin-left: 150px;

}